# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd

# C extensions
*.so

# Logs
*.log

# Distribution / packaging
build/
dist/
*.egg
*.egg-info/
*.whl
*.tar
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
pytestdebug.log

# Jupyter Notebook
.ipynb_checkpoints/

# pyenv
.python-version

# pipenv
Pipfile.lock

# poetry
poetry.lock

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Ruff
__ruff_cache__/

# VSCode
.vscode/

# PyCharm
.idea/

# Virtual environments
.venv/
env/
venv/

# Docker
docker-compose.override.yml

# Environment variables
.env
.env.*.local
